@import "../../../../src/styles/variables.scss";

main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;

    .main-section {
        gap: 10px;
        flex-grow: 0.7;
        background-color: $gray-background;
    }

    .form-section {
        flex-grow: 0.3;
    }
}
