<main>
    <section class="form-section">
        <img src="logo.svg"/>
        
        <h2>{{ title }}</h2>

        <ng-content></ng-content>

        <div class="button-wrapper">
            <button class="primary-button">{{ primaryButtonText }} </button>

            <div class="divider">
                <div></div>
                <span>or</span>
                <div></div>
            </div>
    
            <button class="secondary-button">{{ secondaryButtonText }}</button>
        </div>
    </section>

    <section class="main-section">
        <h1>You should, MoveIt!</h1>
        <img src="main-illustration.svg"/>
    </section>
</main>
