@import "../../../../src/styles/variables.scss";

main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    .main-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
        flex-grow: 1;
        background-color: $gray-background;
    }
}
