<app-default-login-layout
    title="Log in into your account"
    primaryButtonText="Login now"
    secondaryButtonText="Sign up now"
    (submit)="submit()"
    (navigate)="navigate()"
    [disabledPrimaryButton]="!loginForm.valid"
>

    <form [formGroup]="loginForm">
        <app-primary-input
            formControlName="email"
            type="email"
            label="E-mail"
            placeholder="johndoe@email.com"
        >
            <img src="email-icon.svg"/>
        </app-primary-input>

        <app-primary-input
            formControlName="password"
            type="password"
            label="Password"
            placeholder="Your password"
        >
            <img src="password-icon.svg"/>
        </app-primary-input>

        <span>Forgot password?</span>
    </form>
</app-default-login-layout>
